<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name = "SHINAConnection" connectionString = "Server = localhost; Port = 3306; Database = sigepecdb; User id = haa; Password = iist402BfDew@; character set = utf8; Convert Zero DateTime = true; Allow Zero DateTime = true;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>